.authForm {	
	width: 100%;
	height: 100vh;
	
	padding: 30px;
	overflow: auto;

	/* We want to make a flexbox to center the divs */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Here, even though the header is in the flexbox we want it fixed to the top */
.header {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 20px;
}

.input {
	width: 200px;
}

.label {
	font-size: 20px;
	width: 100%;
}

.par {
	padding: 12px;
	position: relative;
	text-align: center;
}

.hint {
	position: fixed;

	/* Some css magic to center the hint relative to the page */
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: auto;

	padding: 20px;
}

.createAccountLoginButton {
	color: white;
	font-size: 14px;

	background-color: green;

	width: 100%;

	border: none;
	border-radius: 5px;
	padding: 6px 12px;

	text-align: center;
}